<!DOCTYPE html>
<html>

<head>
    <title>P&O student-assistent site</title>
</head>

<body>
    <form method="post">
        <table>
            <tr>
                <td></td>
                <td><input style="width:100%" type="submit" name="submit" value="forward"></td>
                <td></td>
            </tr>
            <tr>
                <td><input type="submit" name="submit" value="left"></td>
                <td><input type="submit" name="submit" value="backward"></td>
                <td><input type="submit" name="submit" value="right"></td>
            </tr>
        </table>
    </form>
</body>

</html>
