<!DOCTYPE html>
<html>

<head>
    <title>P&O student-assistent site</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-autumn.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/site.css') }}">

    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />


    <script>

    if (document.layers) {
        document.captureEvents(Event.KEYDOWN);
    }

    document.onkeydown = function (evt) {
      var keyCode = evt ? (evt.which ? evt.which : evt.keyCode) : event.keyCode;
      if (keyCode == 38) {
        // For Arrow up.
        document.querySelector('input[value=forward]').click();
      }
      else if (keyCode == 40) {
        // For Arrow down.
        document.querySelector('input[value=backward]').click();
      }
      else if (keyCode == 37) {
        // For Arrow left.
        document.querySelector('input[value=left]').click();
      }
      else if (keyCode == 39) {
        // For Arrow right.
        document.querySelector('input[value=right]').click();
      }
      else{
        document.querySelector('input[value=stopdriving]').click();
      }
    };

    if (window.DeviceOrientationEvent) {

		window.addEventListener("deviceorientation", function(event)
		{

			var xValue = Math.round(event.gamma);
			var yValue = Math.round(event.beta);
			var rotation = Math.round(event.alpha);
            document.getElementById("accelerometer").innerHTML = "accelerometer data: xValue: " + xValue + "; yValue: " + yValue + "; rotation: " + rotation;

            var includeY = false;
            var includeX = false;
            if(yValue < -10 && yValue > -80){
                //steering left
                includeY = true;
            }
            else if(yValue > 10 && yValue < 80){
                //steering right
                includeY = true;
            }

            if(xValue < -10 && xValue > -80){
                //steering forward
                includeX = true;
            }
            else if(xValue > 10 && xValue < 80){
                //steering backward
                includeX = true;
            }
            if(includeX || includeY){
                var site = '/acc?xValue='+xValue+'&yValue='+yValue;
                someimg = new Image();
                someimg.src = site;
            }


            var c = document.getElementById("a_graph");
            var ctx = c.getContext("2d");

            ctx.clearRect(0,0,c.width,c.height);

            ctx.font="12(px Georgia";
            ctx.fillText("yValue",120,70);
            ctx.fillText("80",140,90);
            ctx.fillText("-80",10,90);
            ctx.fillText("xValue",85,10);
            ctx.fillText("-80",55,10);
            ctx.fillText("80",60,150);

            ctx.fillStyle = 'grey';
            ctx.fillText("FORWARD",54,30);
            ctx.fillText("BACKWARD",50,130);
            ctx.fillText("LEFT",10,100);
            ctx.fillText("RIGHT",120,100);

            ctx.rect(0, 0, 160, 160);
            ctx.stroke();
            ctx.rect(70, 70, 20, 20);
            ctx.stroke();
            ctx.rect(0, 80, 160, 0);
            ctx.stroke();
            ctx.rect(80, 0, 0, 160);
            ctx.stroke();

            ctx.beginPath();
            ctx.arc(yValue+80,xValue+80,5,0,2*Math.PI);
            ctx.stroke();
		}, true);
	} else {
	    //alert("Sorry, your browser doesn't support Device Orientation");
	}

	switchStream();
    function switchStream()
    {
        newImage = new Image();

        newImage.onload = function() {
            document.getElementById("stream").src = "http://127.0.0.1:5000/video_feed";
            document.getElementById("streamtitle").innerHTML = "Stream - Image processing client active";
        };
        newImage.onerror = function() {
            document.getElementById("stream").src =  "{{ url_for('video_feed') }}";
            document.getElementById("streamtitle").innerHTML = "Stream - Image processing client down";
        };
        newImage.src = "http://127.0.0.1:5000/video_frame.jpg?t=" + new Date().getTime();
        setTimeout(switchStream, 1000);
    }
    </script>
</head>

<body>
<div class ="wrapper">
    <div class ="box" style="padding: 5px;"><h1>P&amp;O demo 2015-2016</h1></div>

    <div class="upperboxes">
        <!-- LEFT PART -->
        <div style="float: left; width:50%">
            <div id="upperleftbox" class="box">
                <h1 id="streamtitle">Stream</h1>
                <center><iframe id="stream" width="100%" height="480" frameborder="0" style="overflow: hidden;" src="{{ url_for('video_feed') }}"></iframe></center>
            </div>
        </div>

        <!-- RIGHT PART -->
        <div style="float: left; width: 50%">
            <div id="upperrightbox" class="box">
                <h1>Manual controls</h1>
                <table width="100%">
                    <tr width="100%"><td>
                        <a class="btn" href="javascript:document.querySelector('input[value=manual]').click();"><i class="icon-flag"></i> drive manual</a>
                        <p style="margin-top:10px; margin-bottom:0px">INFO: the keyboard arrows also work (any other key to brake)</p>
                        <table>
                            <tr>
                                <td><a class="btn" href="javascript:document.querySelector('input[value=sharpleft]').click();"><i class="icon-undo"></i></a></td>
                                <td><a class="btn" href="javascript:document.querySelector('input[value=forward]').click();"><i class="icon-arrow-circle-up"></i></a></td>
                                <td><a class="btn" href="javascript:document.querySelector('input[value=sharpright]').click();"><i class="icon-undo"></i></a></td>
                            </tr>
                            <tr>
                                <td><a class="btn" href="javascript:document.querySelector('input[value=left]').click();"><i class="icon-arrow-circle-left"></i></a></td>
                                <td><a class="btn" href="javascript:document.querySelector('input[value=backward]').click();"><i class="icon-arrow-circle-down"></i></a></td>
                                <td><a class="btn" href="javascript:document.querySelector('input[value=right]').click();"><i class="icon-arrow-circle-right"></i></a></td>
                            </tr>
                            <tr><td colspan="3"><a class="btn" href="javascript:document.querySelector('input[value=stopdriving]').click();"><i class="icon-flag-checkered"></i> brake</a></td></tr>
                        </table>
                        <br>


                        <!--
                        <a class="btn" href="javascript:document.querySelector('input[value=picture]').click();"><i class="icon-camera"></i> Take picture</a>
                        <a class="btn" href="javascript:document.querySelector('input[value=stream]').click();"><i class="icon-video-camera"></i> stream</a>
                        -->
                    </td>
                    <td style="text-align: right">
                        <p id="accelerometer"></p>
                        <canvas id="a_graph" width="200" height="200">
                            This text is displayed if your browser does not support HTML5 Canvas.
                        </canvas>
                    </td></tr>
                </table>
                <h1>Automatic driving</h1>
                <a class="btn" href="javascript:document.querySelector('input[value=followline]').click();"><i class="icon-flag"></i> drive automatic (follow line)</a>
                <p style="margin-top:10px; margin-bottom:0px">INFO: These commands will add an action to the queue of intended actions of the robot</p>
                <table>
                    <tr>
                        <td><a class="btn" href="javascript:document.querySelector('input[value=nextleft]').click();"><i class="icon-arrow-circle-left"></i> next crossroad left</a></td>
                        <td><a class="btn" href="javascript:document.querySelector('input[value=nextforward]').click();"><i class="icon-arrow-circle-up"></i> next crossroad forward</a></td>
                        <td><a class="btn" href="javascript:document.querySelector('input[value=nextright]').click();"><i class="icon-arrow-circle-right"></i> next crossroad right</a></td>
                    </tr>
                </table>
                <h1>Other</h1>
                <p style="margin-top:10px; margin-bottom:0px">INFO: This command stops all python processes on the robot (including webserver hosting this page). Use <i>sudo python ~/robot/flaskr/flaskr.py</i> to restart.</p>
                <a class="btn" href="javascript:document.querySelector('input[value=kill]').click();"><i class="icon-heartbeat"></i> Kill python</a>
                <br>

            </div>
        </div>
    </div>
    <div class="lowerboxes">
        <!-- LEFT PART -->
        <div style="float: left; width: 50%">
            <div class="box">
                <h1>information</h1>
                <p>INFO: encoder value represents the amount of half degrees a wheel has turned.</p>
                <iframe src="/info" frameBorder="0" style="overflow:hidden; height: 120px; width: 100%;"></iframe>
            </div>
        </div>

        <!-- RIGHT PART -->
        <div style="float: left; width: 50%">
            <div class="box">
                <h1>request response</h1>
                <iframe name="response_iframe" style="height: 70px; width: 600px" frameBorder="0"></iframe>
            </div>
        </div>
    </div>
</div>


<form method="post" target="response_iframe">
    <input type="submit" name="submit" value="sharpleft" style="display:none">
    <input type="submit" name="submit" value="sharpright" style="display:none">
    <input type="submit" name="submit" value="left" style="display:none">
    <input type="submit" name="submit" value="backward" style="display:none">
    <input type="submit" name="submit" value="right" style="display:none">
    <input type="submit" name="submit" value="forward" style="display:none">

    <input type="submit" name="submit" value="nextleft" style="display:none">
    <input type="submit" name="submit" value="nextforward" style="display:none">
    <input type="submit" name="submit" value="nextright" style="display:none">

    <input type="submit" name="submit" value="picture" style="display:none">
    <input type="submit" name="submit" value="stream" style="display:none">

    <input type="submit" name="submit" value="kill" style="display:none">
    <input type="submit" name="submit" value="followline" style="display:none">
    <input type="submit" name="submit" value="manual" style="display:none">
    <input type="submit" name="submit" value="stopdriving" style="display:none">
</form>
</body>

</html>
